/* Include Foundation */

@import '../../../../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color: teal;
}

button {
    @include button;
}

.clicked {
    background-color: grey;
}

.good-btn.good {
    background-color: green;
}

.bad-btn.bad {
    background-color: red;
}