<!DOCTYPE html>

<html>

<head>
    <title>Movie App</title>
     <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link rel="icon" type="image/png" href="../assets/favicon-film.ico">
    <link rel="stylesheet" href="style.css">
    
</head>

<body ng-app="MovieApp">
    <header>
        <h1>Ready, Set, Action!</h1>
    </header>
    <main>
        <section ng-controller="AddMovieController" id="add-movie-container">
            <div>
                <input type="text" ng-model="name" placeholder="Name of movie">
                <input type="text" ng-model="releaseDate" placeholder="Release date of movie">
                <input type="text" ng-model="genre" placeholder="Genre of Movie">
            </div>
            <button ng-click="addMovie()">Add Movie</button>
        </section>
        <section ng-controller="ListMovieController" id="list-movie-container">
            <h2>Available Movies</h2>
            <ul>
                <li ng-repeat = "oneMovie in movies track by $index"> 
                    {{ oneMovie.name }}
                    {{ oneMovie.date }}
                    {{ oneMovie.genre }}
                    <button class="good-btn" ng-click="ratingBtn('good', oneMovie)" ng-class="oneMovie.rating"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                    <button class="bad-btn" ng-click="ratingBtn('bad', oneMovie)" ng-class="oneMovie.rating"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                    <button ng-click="remove($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </li>   
            </ul>
        </section>
    </main>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://use.fontawesome.com/7fb1b7bdac.js"></script>
    <script src="app.js"></script>
</body>

</html>